.image--icon {
    width: 24px;
    height: 24px;

    margin: 0 auto;

    background-color: white;
}

.image--icon.active {
    width: 24px;
    height: 24px;

    margin: 0 auto;
    
    background-color: #482BFF;
}

.icon--home {
    -webkit-mask: url("../../assets/icons/Home.svg") no-repeat center;
    mask: url("../../assets/icons/Home.svg") no-repeat center;
}

.icon--document {
    -webkit-mask: url("../../assets/icons/Document.svg") no-repeat center;
    mask: url("../../assets/icons/Document.svg") no-repeat center;
}

.icon--ticket {
    -webkit-mask: url("../../assets/icons/Ticket.svg") no-repeat center;
    mask: url("../../assets/icons/Ticket.svg") no-repeat center;
}

.icon--mail {
    -webkit-mask: url("../../assets/icons/Mail.svg") no-repeat center;
    mask: url("../../assets/icons/Mail.svg") no-repeat center;
}

.icon--settings {
    -webkit-mask: url("../../assets/icons/Settings.svg") no-repeat center;
    mask: url("../../assets/icons/Settings.svg") no-repeat center;
}


.image--rounded {
    border-radius: 100%;
}

.mainHeader {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    width: 80px;
    height: 100vh;

    padding: 40px 0px;

    background-color: #482BFF;
}

.profileLogo-container {
    width: 60px;
    height: 60px;

    margin-bottom: 34px;
}

.profileLogo {
    width: 100%;
    height: 100%;
     
    background-color: #fff;
}

.mainMenu {
    width: 100%;
    height: 100%;
}

.mainMenu ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
    height: 100%;
}

.menuItem {
    width: 100%;
    margin: 0 0;
    padding: 16px 0;
}

.menuItem.active {
    background-color: #fff;
}

.menuItem:last-child {
    margin-top: auto;
}